<div class="container p-3 my-3">
  <h1>All users</h1>
  <div class="flickr_pagination mb-4">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
      <%= will_paginate @users, :container => false %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><i class="fas fa-user-tie fa-fw"></i>Name</th>
        <th scope="col"><i class="fas fa-at fa-fw"></i>Email</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.roles.first.name rescue '' %></td>
          <td><%= link_to 'Update Role', edit_user_path(user) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flickr_pagination mb-5">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => false %>
  </div>
</div>
