<!DOCTYPE html>
<html>
  <head>
    <title>DemoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- CSS only -->

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <%end%>
    <% if alert %>
      <p class="alert alert-warning"><%= alert %></p>
    <%end%>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
